# ==========================================
# BASpark-PySide .gitignore
# ==========================================

# Python 缓存文件
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
.venv/
env/
.env/

# PyInstaller 打包产物
build/
dist/
*.spec 

# 操作系统生成的缓存文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDE/编辑器配置文件
.vscode/
.idea/
*.swp
*.swo